@import "./_css-reset.less";
@import "./_functions.less";

html{
    font-size: 14px;
}

body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    @import "./header.less";
    
}


